<template>
  <div class="container" style="background-color: white; width:60%; border-radius: 25px;">
    <br>
    <br>
    <img src ="../assets/pmm.png" alt="logo" height="100px" width="100px">
    <br>
    <br>
      <h2>Login</h2>

            <div class="form-group">
              <input class="input-singleline" type="text"  id="uname" placeholder="E-mail/Phone number" name="username" required>
            </div>
            <br>


            <div class="form-group">

            <div class="input-container">
              <input class="input-singleline" type="password" id="pwd" placeholder="Password" name="password" required >
              <div class="container1">
                <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
              </div>
            </div>
            </div>
            <br>
            <div class = "row">
            <div class="col-md-3 col-auto mr-auto" style="color:teal;">
              <input style="color:white;" type="checkbox" id="remember" name="remember" checked="checked"> Remember Me
            </div>

            <div class="col-auto">
              <a href=" " style="float:center;" >Forgot Password</a>
            </div>
          </div>
            <br>
            
          <button type="submit" class="btn btn-primary">Login</button>
          <br>
  </div>
</template>
  
  <script>
  export default {
    name: 'login',
    props: {
      msg: String, 
    }
  }
  </script>
<style>
  body {
  background: url('../assets/pmm-bg.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}



  
  .container1{
    width: 17%;
    background: transparent;
    padding: 12px 20px;
    margin: 8px 0;
	border-top: 0px;
    border-left: 0px;
    border-right: 0px;

  }
  input[type=text],[type=password]:focus{
  outline: 2px solid orange;     /* oranges! yey */
  outline-width: 10px;
  outline-style: none;
}


 .input-singleline{
    width: 100%;
    background: transparent;
    padding: 12px 20px;
    margin: 8px 0;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
   }
  
 
.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 1px;
}

.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

</style>

