<template>

  <div> 

    <div class="navcorner"> 
      <img src="../assets/pm.png" alt="upload" height="80px" width="80px">
    </div>

    <div class="navcorner2"> 
      <img src="../assets/pmm.png" alt="upload" height="80px" width="80px">

  </div>


    <div class="nav"> 
        <div class="form-group">
       <div class="counter col_fourth">
            <h2 class="timer count-title count-number" data-to="300" data-speed="1500"></h2>
             <p class="count-text">Total Queries</p>
             <h6 style="color:blue">100</h6>
          </div>
        </div>
    </div>
  
    <div class="nav2"> 
      <div class="form-group">
        <div class="counter col_fourth">
             <h2 class="timer count-title count-number" data-to="300" data-speed="1500"></h2>
              <p class="count-text ">Pending Queries</p>
              <h6 style="color:red">100</h6>
           </div>
         </div>
  </div>
  
  
      <div class="sidenav"> 
        <div class="col-2">
          <div class="form-group">
            <img src="../assets/file.png" alt="upload" height="80px" width="80px">
          </div>
        </div>  
  
        <div class="col-2">
          <div class="form-group">
            <img src="../assets/message.png" alt="upload" height="80px" width="80px">
          </div>
        </div>
  
        <div class="col-2">
          <div class="form-group">
            <img src="../assets/add-partner.png" alt="upload" height="80px" width="80px">
          </div>
        </div>
  
        <div class="col-2">
          <div class="form-group">
            <img src="../assets/partners.png" alt="upload" height="80px" width="80px">
          </div>
        </div>
  
        <div class="col-2">
          <div class="form-group">
            <img src="../assets/settings.png" alt="upload" height="80px" width="80px">
          </div>
        </div>
      </div>
        
        <div class="d-flex justify-content-center align-items-center ">
  
          <form  action="" method="POST" style="height:70%; width:85%; background-color:#008B8B;   padding-top: 48px;">
            <div class="container" style="background-color:rgb(19,134,155);">
            <h5 class="heading">ADD PARTNER</h5>

            <b-table striped hover :items="items"></b-table>

            

              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <input class="input-line" type="text"  id="uname" placeholder="Partner Name" name="username" required>
                  </div>
                <div class="row justify-content-start">
                  <div class="col-4">
                    <div class="form-group">
                      <input class="input-line" type="text"  id="uname" placeholder="Male" name="username" required>
                    </div>
                  </div>
      
                  <div class="col-4">
                    <div class="form-group">
                      <input class="input-line" type="text"  id="uname" placeholder="Female" name="username" required>
                    </div>
                  </div>
    
                  <div class="col-4">
                    <div class="form-group">
                      <input class="input-line" type="text"  id="uname" placeholder="Others" name="username" required>
                    </div>
                  </div>  
                  </div>
  
                  <div class="form-group">
                    <input class="input-line" type="date"  id="uname" placeholder="DOB" name="username" required>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <input class="input-line" type="text"  id="uname" placeholder="E-mail" name="username" required>
                  </div>
                  <div class="form-group">
                    <input class="input-line" type="password"  id="uname" placeholder="Password" name="username" required>
                  </div>
                  <div class="form-group">
                      <input class="input-line" type="password"  id="uname" placeholder="Confirm Password" name="username" required>
                    </div>
                </div>
              </div>
              </div>
               <br>
               <br>
               <br>

          </form>  
    </div>
  </div>
  
  </template>
    
    <script>
    export default {
      name: 'partner',
      data() {
      return {
        items: [
          {partner:'Mr.Shantaram',Patient:'Tripti',Amount:100,Package:120000,History },
          { age: 21, first_name: 'Larsen', last_name: 'Shaw' }
        ]
      }
    }
    }
    </script>
  <style>
    body {
    background: url('../assets/pmm-bg.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
  
  
  .container{
      border: 2px solid skyblue;
      padding: 30px;
      border-radius: 0px;
      background-color: white;
      border-color: rgb(19,134,155);
      background-color:white;
      height:100%;
  }
  
    
    input[type=text],[type=password]:focus{
    outline: 2px solid orange;     /* oranges! yey */
    outline-width: 10px;
    outline-style: none;
  }
   .input-line{
      width: 100%;
      background: transparent;
      padding: 7px 20px;
      margin: 5px 0;
      border: 1px solid black;
      box-sizing: border-box;
      background-color: white;
      border-radius: 25px;;
   }
  
   .input-textarea{
      width: 100%;
      background: transparent;
      padding: 40px 20px;
      margin: 5px 0;
      border: 1px solid black;
      box-sizing: border-box;
      background-color: white;
      border-radius: 25px;;
   }
  
  
  .nav {
      height: 20%;
      width: 100px;
      position: fixed;
      z-index: 1;
      top: 10;
      left: 1250px;
      transition: 0.5s;
      padding-top: 10px;
  
    }
    .nav2 {
      height: 20%;
      width: 100px;
      position: fixed;
      z-index: 1;
      top: 10;
      left: 1000px;
      transition: 0.5s;
      padding-top: 10px;
  
    }

    .navcorner {
    height: 20%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 10;
    right: 85%;
    transition: 0.5s;
    padding-top: 10px;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 10;
    left: 20px;
    background-color: #111;
    transition: 0.5s;
    padding-top: 100px;
  }


  .navcorner2 {
    height: 20%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 10;
    left: 385px;
    transition: 0.5s;
    padding-top: 10px;

  }
.heading{
    color:white;
    height: 10%;
    width: 52%;
    position: fixed;
    z-index: 1;
    top: 80px;
    left: -10px;
    transition: 0.5s;
    padding-top: 85px;
    padding-left: 5px;
}
  
form{
    position: fixed;
    z-index: 1;
    top: 150px;
    left: 150px;
    transition: 0.5s;
    padding-top: 10px;
}
  
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: white; 
  border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white; 
}
  .wrapper { width: 980px; margin: 20px auto; position: relative;}
  .counter { width:180px; background-color: #ffffff; padding: 0; border-radius: 15px;}
  </style>
  
  