<template>

  <div> 

    <div class="navcorner"> 
      <img src="../assets/pm.png" alt="upload" height="80px" width="80px">
    </div>

    <div class="navcorner2"> 
      <img src="../assets/pmm.png" alt="upload" height="80px" width="80px">

  </div>


    <div class="nav"> 
        <div class="form-group">
       <div class="counter col_fourth">
            <h2 class="timer count-title count-number" data-to="300" data-speed="1500"></h2>
             <p class="count-text">Total Queries</p>
             <h6 style="color:blue">100</h6>
          </div>
        </div>
    </div>
  
    <div class="nav2"> 
      <div class="form-group">
        <div class="counter col_fourth">
             <h2 class="timer count-title count-number" data-to="300" data-speed="1500"></h2>
              <p class="count-text ">Pending Queries</p>
              <h6 style="color:red">100</h6>
           </div>
         </div>
  </div>
  
  
      <div class="sidenav"> 
        <div class="col-2">
          <div class="form-group">
            <img src="../assets/file.png" alt="upload" height="80px" width="80px">
          </div>
        </div>  
  
        <div class="col-2">
          <div class="form-group">
            <img src="../assets/message.png" alt="upload" height="80px" width="80px">
          </div>
        </div>
  
        <div class="col-2">
          <div class="form-group">
            <img src="../assets/add-partner.png" alt="upload" height="80px" width="80px">
          </div>
        </div>
  
        <div class="col-2">
          <div class="form-group">
            <img src="../assets/partners.png" alt="upload" height="80px" width="80px">
          </div>
        </div>
  
        <div class="col-2">
          <div class="form-group">
            <img src="../assets/settings.png" alt="upload" height="80px" width="80px">
          </div>
        </div>
      </div>
        
        <div class="d-flex justify-content-center align-items-center ">
  
          <form  action="" method="POST" style="height:70%; width:85%; background-color:#008B8B;   padding-top: 48px;">
            <div class="container" style="background-color:#008B8B;">
            <h5 class="heading">ADD PATIENT</h5>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <input class="input-line" type="text"  id="partner_name" placeholder="Partner Name" name="partner_name" required>
                  </div>
                <div class="row justify-content-start">
                  <div class="col-4">
                    <div class="form-group">
                      <input class="input-line" type="input"  id="male" placeholder="Male" name="male" required>
                    </div>
                  </div>
      
                  <div class="col-4">
                    <div class="form-group">
                      <input class="input-line" type="text"  id="female" placeholder="Female" name="female" required>
                    </div>
                  </div>
    
                  <div class="col-4">
                    <div class="form-group">
                      <input class="input-line" type="text"  id="others" placeholder="Others" name="others" required>
                    </div>
                  </div>  
                  </div>
  
                  <div class="form-group">
                    <input class="input-line" type="text"  id="phone" placeholder="Phone Number" name="phone" required>
                  </div>
                  <div class="row justify-content-start">
                    <div class="col-4" style = "color:white;">
                      <h5>upload query</h5>
                    </div>
                  </div>
  
                  <div class="row justify-content-start">
                    <div class="col-3">
                      <div class="form-group">
                        <img src="../assets/upload.png" alt="upload" height="100px" width="100px">
                      </div>
                    </div>
        
                    <div class="col-3">
                      <div class="form-group">
                        <img src="../assets/upload.png" alt="upload" height="100px" width="100px">
                      </div>
                    </div>
  
                    <div class="col-3">
                      <div class="form-group">
                        <img src="../assets/upload.png" alt="upload" height="100px" width="100px">
                      </div>
                    </div>
      
                    <div class="col-3">
                      <div class="form-group">
                        <img src="../assets/upload.png" alt="upload" height="100px" width="100px">
                      </div>
                    </div>  
                  </div>
  
                </div>
                <div class="col">
                  <div class="form-group">
                    <input class="input-line" type="text"  id="email" placeholder="E-mail" name="email" required>
                  </div>
                  <div class="form-group">
                    <input class="input-textarea" type="text-area"  id="address" placeholder="Address" name="address" required>
                  </div>
                  <div class="row justify-content-end">
                    <div class="col-5">
                  <div class="form-group">
                    <img src="../assets/add.png" alt="upload" height="100px" width="200px">
                  </div>
                  </div>
                  </div>
                </div>
              </div>
              </div>
               <br>
               <br>
               <br>

          </form>  
    </div>
  </div>
  
  </template>
    
    <script>
    export default {
      name: 'patient',
      props: {
        msg: String, 
      }
    }
    </script>
  <style>
    body {
    background: url('../assets/pmm-bg.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
  
  
  .container{
      border: 2px solid skyblue;
      padding: 30px;
      border-radius: 0px;
      background-color: white;
      border-color: #008B8B;
      background-color:white;
      height:100%;
      overflow-y: auto;

  }
  
    
    input[type=text],[type=password]:focus{
    outline: 2px solid orange;     /* oranges! yey */
    outline-width: 10px;
    outline-style: none;
  }
   .input-line{
      width: 100%;
      background: transparent;
      padding: 7px 20px;
      margin: 5px 0;
      border: 1px solid black;
      box-sizing: border-box;
      background-color: white;
      border-radius: 25px;;
   }
  
   .input-textarea{
      width: 100%;
      background: transparent;
      padding: 40px 20px;
      margin: 5px 0;
      border: 1px solid black;
      box-sizing: border-box;
      background-color: white;
      border-radius: 25px;;
   }
  
   .navcorner {
    height: 20%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 10;
    right: 85%;
    transition: 0.5s;
    padding-top: 10px;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 10;
    left: 20px;
    background-color: #111;
    transition: 0.5s;
    padding-top: 100px;
  }
  .nav {
      height: 20%;
      width: 100px;
      position: fixed;
      z-index: 1;
      top: 10;
      left: 1250px;
      transition: 0.5s;
      padding-top: 10px;
  
    }
    .nav2 {
      height: 20%;
      width: 100px;
      position: fixed;
      z-index: 1;
      top: 10;
      left: 1000px;
      transition: 0.5s;
      padding-top: 10px;
  
    }
	.navcorner2 {
		height: 20%;
		width: 100px;
		position: fixed;
		z-index: 1;
		top: 10;
		right: 80%;
		transition: 0.5s;
		padding-top: 10px;
}
.heading{
    color:white;
    height: 10%;
    width: 52%;
    position: fixed;
    z-index: 1;
    top: 80px;
    left: -10px;
    transition: 0.5s;
    padding-top: 85px;
    padding-left: 5px;
}
  

form{
    position: fixed;
    z-index: 1;
    top: 150px;
    left: 150px;
    transition: 0.5s;
    padding-top: 10px;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: white; 
  border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white; 
}
  .wrapper { width: 980px; margin: 20px auto; position: relative;}
  .counter { width:180px; background-color: #ffffff; padding: 0; border-radius: 15px;}
  </style>
  
  