<template>

  <div> 

    <div class="navcorner"> 
      <img src="../assets/pm.png" alt="upload" height="80px" width="80px">
    </div>

    <div class="navcorner2"> 
      <img src="../assets/pmm.png" alt="upload" height="80px" width="80px">

  </div>


    <div class="nav"> 
        <div class="form-group">
       <div class="counter col_fourth">
            <h2 class="timer count-title count-number" data-to="300" data-speed="1500"></h2>
             <p class="count-text">Total Queries</p>
             <h6 style="color:blue">100</h6>
          </div>
        </div>
    </div>
  
    <div class="nav2"> 
      <div class="form-group">
        <div class="counter col_fourth">
             <h2 class="timer count-title count-number" data-to="300" data-speed="1500"></h2>
              <p class="count-text ">Pending Queries</p>
              <h6 style="color:red">100</h6>
           </div>
         </div>
  </div>
  
  
      <div class="sidenav"> 
        <div class="col-2">
          <div class="form-group">
            <img src="../assets/file.png" alt="upload" height="80px" width="80px">
          </div>
        </div>  
  
        <div class="col-2">
          <div class="form-group">
            <img src="../assets/message.png" alt="upload" height="80px" width="80px">
          </div>
        </div>
  
        <div class="col-2">
          <div class="form-group">
            <img src="../assets/add-partner.png" alt="upload" height="80px" width="80px">
          </div>
        </div>
  
        <div class="col-2">
          <div class="form-group">
            <img src="../assets/partners.png" alt="upload" height="80px" width="80px">
          </div>
        </div>
  
        <div class="col-2">
          <div class="form-group">
            <img src="../assets/settings.png" alt="upload" height="80px" width="80px">
          </div>
        </div>
      </div>
        
        <div class="d-flex justify-content-center align-items-center ">
  
          <form  action="" method="POST" style="height:70%; width:85%; background-color:#008B8B;   padding-top: 48px;">
            <div class="container" style="background-color:#008B8B;">
            <h5 class="heading">SETTINGS</h5>
            <h5 class="heading1">MANAGE ADMIN</h5>
            
              <div class="row justify-content-between">
              <div class="col-5" height="100%" width="100%">
                  <div class="row justify-content-between">
                    <div class="col-4">
                      <label>Country</label>
                    </div>
                    <div class="col-5">
                      <div class="row justify-content-between">
                      <div class="col-2"><label style="padding-left:120px;">India</label></div>
                      <div class="col-2"> <img src="../assets/left.png" height="60px" width="60px"></div>
                      </div>
                     
                    </div>
                  </div>
                  <div class="row justify-content-between">
                    <div class="col-4">
                      <label>Language</label>
                    </div>
                    <div class="col-5">
                      <div class="row justify-content-between">
                      <div class="col-2"><label style="padding-left: 110px;">English</label></div>
                      <div class="col-2"> <img src="../assets/left.png" height="60px" width="60px"></div>
                      </div>
                     
                    </div>
                  </div>
                  <div class="row justify-content-between">
                    <div class="col-4">
                      <label>Notification</label>
                    </div>
                    <div class="col-5">
                      <div class="row justify-content-between">
                      <toggle-button  style="left:140px" :value="true" />
                      </div>
                     
                    </div>
                  </div>
                </div>


                







                <div class="col-6" style="height:50%; width:50%;">
                  <div class="col">
                    <div class="form-group">
                      <input class="input-line" type="text"  id="uname" placeholder="E-mail" name="username" required>
                    </div>
                    <div class="form-group">
                      <input class="input-line" type="password"  id="uname" placeholder="Password" name="username" required>
                    </div>
                    <div class="form-group">
                        <input class="input-line" type="password"  id="uname" placeholder="Confirm Password" name="username" required>
                      </div>
                      <div class="form-group">
                        <input class="input-line" type="password"  id="uname" placeholder="Confirm Password" name="username" required>
                      </div>
                    
                  </div>
                </div>



          
              </div>

              

              </div>

               <br>
               <br>
               <br>
          </form>  


    </div>

    <div class="v1"></div>

  </div>

  
  
  </template>
    
    <script>
    export default {
      name: 'patient',
      props: {
        msg: String, 
      }
    }
    </script>
  <style>
    body {
    background: url('../assets/pmm-bg.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
  
  
  .container{
      padding: 30px;
      border-radius: 0px;
      height:100%;
      overflow-y: auto;

  }
  
    
    input[type=text],[type=password]:focus{
    outline: 2px solid orange;     /* oranges! yey */
    outline-width: 10px;
    outline-style: none;
  }
   .input-line{
      width: 100%;
      background: transparent;
      padding: 7px 20px;
      margin: 5px 0;
      border: 1px solid black;
      box-sizing: border-box;
      background-color: white;
      border-radius: 25px;;
   }

  label{
      width: 100%;
      text-align: left;
      background: transparent;
      padding: 7px 20px;
      margin: 5px 0;
      box-sizing: border-box;
      border-radius: 25px;
      color:white;
      font-size: large;

   }

  .label1{
      top:500px;
      left:500px;
      padding-left: 200px;
      z-index: 1;

  }
  
   .input-textarea{
      width: 100%;
      background: transparent;
      padding: 40px 20px;
      margin: 5px 0;
      border: 1px solid black;
      box-sizing: border-box;
      background-color: white;
      border-radius: 25px;;
   }
  
   .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 10;
    left: 20px;
    background-color: #111;
    transition: 0.5s;
    padding-top: 100px;
  }
  
  .nav {
      height: 20%;
      width: 100px;
      position: fixed;
      z-index: 1;
      top: 10;
      left: 1250px;
      transition: 0.5s;
      padding-top: 10px;
  
    }
    .nav2 {
      height: 20%;
      width: 100px;
      position: fixed;
      z-index: 1;
      top: 10;
      left: 1000px;
      transition: 0.5s;
      padding-top: 10px;
  
    }

  .navcorner {
    height: 20%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 10;
    right: 85%;
    transition: 0.5s;
    padding-top: 10px;
  }

  

  .navcorner2 {
    height: 20%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 10;
    right: 80%;
    transition: 0.5s;
    padding-top: 10px;

  }
.heading{
    color:white;
    height: 10%;
    width: 52%;
    position: fixed;
    z-index: 1;
    top: 80px;
    left: -10px;
    transition: 0.5s;
    padding-top: 85px;
    padding-right: 200px;
}

.heading1{
    color:white;
    height: 10%;
    width: 52%;
    position: fixed;
    z-index: 1;
    top: 80px;
    left: 470px;
    transition: 0.5s;
    padding-top: 85px;
    padding-left: 100px;
}
.heading2{
    color:white;
    height: 10%;
    width: 52%;
    position: fixed;
    z-index: 1;
    top: 80px;
    left: 35px;
    transition: 0.5s;
    padding-top: 295px;
    padding-left: 5px;
}
  
form{
    position: fixed;
    z-index: 1;
    top: 150px;
    left: 150px;
    transition: 0.5s;
    padding-top: 10px;
}

.vl {
  border-left: 6px solid black;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: white; 
  border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white; 
}

  .wrapper { width: 980px; margin: 20px auto; position: relative;}
  .counter { width:180px; background-color: #ffffff; padding: 0; border-radius: 15px;}
  </style>
  
  